p.h4{
 color:red;   
}
hr{
    border-top:2px solid cornflowerblue;
}
.row > div[class*='col-'] {
    display: flex;
    flex:1 0 auto;
}
.price{
    color:red;
}
.menu ul li{
	list-style-type: none;
}
.details {
    max-width: 50px;   
    text-align: left;
    display: none;
}