<form class="form-signin" action="/users/change" method="POST">
  <h2 class="form-signin-heading">Please sign up</h2>

  <label for="inputOldPassword" class="sr-only">Old Password</label>
  <input type="password" id="inputOldPassword" name="oldpassword" class="form-control" placeholder="Old Password" required>

  <label for="inputNewPassword" class="sr-only">New Password</label>
  <input type="password" id="inputNewPassword" name="password" class="form-control" placeholder="New Password" required>

  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputConfirmPassword" name="confirmationPassword" class="form-control" placeholder="Confirm Password" required>

  <br/>

  <button class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>
</form>