<form class="form-signin" action="/users/changeinfo" method="POST">
  <h2 class="form-signin-heading">Change information</h2>

  <label for="inputLastname" class="sr-only">Last name</label>
  <input type="text" id="inputLastname" name="lastname" class="form-control" placeholder="Last name" value="{{lastname}}" required">

  <label for="inputFirstname" class="sr-only">First name</label>
  <input type="text" id="inputFirstname" name="firstname" class="form-control" placeholder="First name" value="{{firstname}}" required>

  <label for="inputPhone" class="sr-only">Phone number</label>
  <input type="text" id="inputPhone" name="phone" class="form-control" placeholder="Phone number" value="{{phone}}" required>

  <label for="inputAddress" class="sr-only">Address</label>
  <input type="text" id="inputAddress" name="address" class="form-control" placeholder="Address" value="{{address}}" required>

  <br/>

  <button class="btn btn-lg btn-default btn-block" type="submit">Change</button>
</form>