<form class="form-signin" action="/users/resetpass" method="POST">
  <h2 class="form-signin-heading">Please Enter your new password</h2>

  <label for="inputNewPassword" class="sr-only">New Password</label>
  <input type="password" id="inputNewPassword" name="password" class="form-control" placeholder="New Password" required>

  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputConfirmPassword" name="confirmationPassword" class="form-control" placeholder="Confirm Password" required>

  <br/>

  <button class="btn btn-lg btn-default btn-block" type="submit">Change</button>
</form>