{{# each laptops}}
<div class="album py-5 bg-light">
  <div class="row">
    {{# each this }}
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top"  alt="Thumbnail [100%x225]"
          style="height: 225px; width: 85% ; display: block;" src="{{this.imagePath}}"
          data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text"> {{this.model}} </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group float-right">
              <button type="button" class="btn btn-sm btn-success">Add to cart</button>
              {{!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --}}
            </div>
            {{!-- <small class="text-muted">9 mins</small> --}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}